/* 1. ATUALIZADO: Inclui Exo, League Spartan, e agora, Montserrat (100 a 900) */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=League+Spartan:wght@100..900&family=Poppins:wght@100..900&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1363 0.0364 259.2010);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1363 0.0364 259.2010);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1363 0.0364 259.2010);
  --primary: oklch(0.2745 0.1434 296.7594);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6389 0.1982 311.1459);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9653 0.0053 286.2998);
  --muted-foreground: oklch(0.5327 0.0358 285.1207);
  --accent: oklch(0.7874 0.0650 331.2690);
  --accent-foreground: oklch(0.2902 0.1915 265.6718);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(0.9288 0.0126 255.5078);
  --ring: oklch(0.1363 0.0364 259.2010);
  --chart-1: oklch(0.2745 0.1434 296.7594);
  --chart-2: oklch(0.7842 0.1580 313.9149);
  --chart-3: oklch(0.6389 0.1982 311.1459);
  --chart-4: oklch(0.5544 0.0407 257.4166);
  --chart-5: oklch(0.7107 0.0351 256.7878);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.3703 0.0119 285.8054);
  --sidebar-primary: oklch(0.2103 0.0059 285.8852);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.7874 0.0650 331.2690);
  --sidebar-accent-foreground: oklch(0.2902 0.1915 265.6718);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.6231 0.1880 259.8145);

  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1363 0.0364 259.2010);
  --foreground: oklch(0.9842 0.0034 247.8575);
  --card: oklch(0.1363 0.0364 259.2010);
  --card-foreground: oklch(0.9842 0.0034 247.8575);
  --popover: oklch(0.1363 0.0364 259.2010);
  --popover-foreground: oklch(0.9842 0.0034 247.8575);
  --primary: oklch(0.2745 0.1434 296.7594);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6389 0.1982 311.1459);
  --secondary-foreground: oklch(0.9653 0.0053 286.2998);
  --muted: oklch(0.2465 0.0284 284.1269);
  --muted-foreground: oklch(0.7018 0.0261 285.7092);
  --accent: oklch(0.3698 0.1397 335.9000);
  --accent-foreground: oklch(0.9653 0.0053 286.2998);
  --destructive: oklch(0.3958 0.1331 25.7230);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.2795 0.0368 260.0310);
  --input: oklch(0.2795 0.0368 260.0310);
  --ring: oklch(0.8690 0.0198 252.8943);
  --chart-1: oklch(0.2745 0.1434 296.7594);
  --chart-2: oklch(0.7842 0.1580 313.9149);
  --chart-3: oklch(0.6389 0.1982 311.1459);
  --chart-4: oklch(0.5544 0.0407 257.4166);
  --chart-5: oklch(0.7107 0.0351 256.7878);
  --sidebar: 237 30% 10%;
  --sidebar-foreground: oklch(0.9674 0.0013 286.3752);
  --sidebar-primary: oklch(0.2745 0.1434 296.7594);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.5461 0.0830 332.0351);
  --sidebar-accent-foreground: oklch(0.8449 0.0638 284.9522);
  --sidebar-border: oklch(0.2795 0.0368 260.0310);
  --sidebar-ring: oklch(0.2745 0.1434 296.7594);

  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
         font-family: 'Inter', sans-serif;
   /* font-family: 'Montserrat', sans-serif; */

    @apply bg-background text-foreground;
  }
}
